<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/6dd79cf013.js" crossorigin="anonymous"></script>
        <title>Consumo - cliente</title>
    </head>
<body style="background-color:  #f5f5f5">
    <nav class="navbar navbar-light bg-secondary" style="padding: 0px">
        <a class="navbar-brand" style="margin: 0px; padding: 0px" href="/">
          <img src="/static/img/navbar.png" width="200" height="70" class="align-top" alt="">
        </a>
      </nav>
    <div class="container border rounded shadow-lg" style="width: 60vh;margin-top: 15vh;background-color: white;">
        <h3 class="text-center mb-5">Cadastro de consumo</h3>
        <form action = "http://127.0.0.1:5000/clientExpense" method = "POST" enctype = "multipart/form-data">
            <div class="form-group mb-3">
                <label for="exampleFormControlInput1" style="padding: 0.25rem">Nome do cliente:</label>
                <select class="form-select" name="name" id="name">
                    {% for client in clients %}
                        <option value="{{client.cpf}}">{{client.name}} {{client.surname}}</option>
                    {% endfor %}
                </select>
                <button onclick="exibeDiv()" class="btn btn-success mt-3 text-align"><i class="fa-solid fa-magnifying-glass" type= "submit"></i>&nbsp;Pesquisar</button>
            </div>
            <div>
                <label style="padding-bottom: 1rem"><b>Produtos</b></label><label style="padding-left: 10rem;padding-bottom: 1rem"><b>Quantidade</b></label><label style="padding-left: 10rem;padding-bottom: 1rem"><b>Data</b></label>
            
                {% for expense in expenses %}
                        <div class="form-group mb-3">
                            <label>{{ expense["product"] }}</label><label style="padding-left: 12.5rem">{{ expense["qnt"] }}</label><label style="padding-left: 11.5rem">{{ expense["date"] }}</label>
                        </div>
                {% endfor %}
            </div>
            
        </form>
    </div>
</body>
</html>